*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    
}
.inner{
    width: 1170px;
    height: 400px;
    margin: auto;
   

    /* margin: auto; */
   
    border: 6px solid black;
    
}
.main{

    width: 23%;
    /* height: 288px; */
    /* border: 1px solid black; */
    /* background-color: blue ; */
    margin: 1%;
    float: left;

}
.main img{
    width: 100%;
}

@media only screen and (min-width: 568px) and (max-width: 992px){
    .inner{
     width: 100%;
    }
    .main{
        
    width: 48%;
    margin: 1%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 567px){

    .inner{
        width: 100%;
       }
       .main{
           
       width: 96%;
       margin: 2%;
       }

}